<p id="notice"><%= notice %></p>

<h1>Dancers</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Stage name</th>
      <th>Full name</th>
=======
      <th>Full name</th>
      <th>Fake name</th>
>>>>>>> 6ccd12dee487bbd0f1a6d5ac2171c66784ff9c66
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dancers.each do |dancer| %>
      <tr>
<<<<<<< HEAD
        <td><%= dancer.stage_name %></td>
        <td><%= dancer.full_name %></td>
=======
        <td><%= dancer.full_name %></td>
        <td><%= dancer.fake_name %></td>
>>>>>>> 6ccd12dee487bbd0f1a6d5ac2171c66784ff9c66
        <td><%= dancer.account %></td>
        <td><%= link_to 'Show', dancer %></td>
        <td><%= link_to 'Edit', edit_dancer_path(dancer) %></td>
        <td><%= link_to 'Destroy', dancer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dancer', new_dancer_path %>
