<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Stage name:</strong>
  <%= @dancer.stage_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @dancer.full_name %>
=======
  <strong>Full name:</strong>
  <%= @dancer.full_name %>
</p>

<p>
  <strong>Fake name:</strong>
  <%= @dancer.fake_name %>
>>>>>>> 6ccd12dee487bbd0f1a6d5ac2171c66784ff9c66
</p>

<p>
  <strong>Account:</strong>
  <%= @dancer.account %>
</p>

<%= link_to 'Edit', edit_dancer_path(@dancer) %> |
<%= link_to 'Back', dancers_path %>
